body {
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 40%;
    margin: auto;
    border: 1px solid black;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    justify-content: center;
    background-color: #f2f2f2;
}

td {
   width: 50%;
   border: 1px solid black;
    padding: 8px;
    text-align: center; 
}

.btn-voltar {
    display: block;
    width: 150px;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn-voltar:hover {
    background-color: #0056b3;
}
