<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <link th:href="@{index.css}" rel="stylesheet" />
  <title>Buscador de Tags</title>
</head>

<body>
  <div class="header">
    <h1>Digite uma URL válida</h1>
    <p>ela será enviada ao banco de dados, junto das tags e quantidades</p>
  </div>
  <form class="url-form" method="post">
    <label for="url">URL:</label>
    <input type="text" id="url" name="url" required />
    <button type="submit">Ver resultados</button>
  </form>

  <div class="tables-container">
    <div class="table-container">
      <h1>Tabela de URLs</h1>
      <div class="table-scroll">
        <div class="tableFixHead">
          <table class="url-table">
            <thead>
              <tr class="th-label">
                <th>ID</th>
                <th>URL</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="url : ${urlList}">
                <td th:text="${url.id}"></td>
                <td th:text="${url.url}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="table-container">
      <h1>Tabela de Tags</h1>
      <div class="table-scroll">
        <div class="tableFixHead">
          <table class="tag-table">
            <thead>
              <tr class="th-label">
                <th>ID</th>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>URL</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="tag : ${tagList}">
                <td th:text="${tag.id}"></td>
                <td th:text="${tag.tag}"></td>
                <td th:text="${tag.quantidade}"></td>
                <td th:text="${tag.urlInfo.url}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>

</html>